
/* Main Elements */
body{
    color:black;
}
#container-yield{
    margin-top:50px;
}
.navbar{
    background-color: white;;
    height: 60px;
    font-size: 28px;
    line-height: 28px;
    border-bottom: 1px black !important;
}
.alert{
    margin-bottom: 50px;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
}
.nav-link span{
    font-size:22px;;
    width:22px;
    text-align: center;
    
    text-align: center;
}
.nav-link .orgLogo{
    background-color: lightblue;
    font-size:20px;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    height:30px;
}
.btn{
    margin-bottom:20px;
    white-space: normal;
}
.calendar-today {
    background-color: #74c3f0;
}
.nav-calendar{
    padding-left:revert;
}
input, option, textarea {
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
}
.tab{
    background-color: rgba(0, 0, 0, 0.5);
}
.login input, .code input{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    margin-top: 0px;
}
#footer{
    margin: 10px;
    border-radius: 10px;
}
#footer p{
    text-align: center;
}
#mark{
    vertical-align: bottom;
    display: inline;
}
/* Branding */
img #logo-color{
    height:40px;
}
#large-logo-color{
    margin:20px 00px 20px 20px;
    max-width:100px;
    border-radius: 20px;
}
.btn{
    width:100%;
}
.speaker img{
    max-height:100px;
}
.module-img{
    max-height:300px;
}