/* Main Elements */
body{
    color:black;
}
#container-yield{
    margin-top:50px;
}
.navbar{
    background-color: white;;
    height: 60px;
    font-size: 28px;
    line-height: 28px;
    border-bottom: 1px black !important;
}
.alert{
    margin-bottom: 50px;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
}
.nav-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 20px;
    height: 35px;
    width: 200px;

}
.nav-link span{
    font-size:22px;;
    width:22px;
    text-align: center;
    
    text-align: center;
}
.nav-link .orgLogo{
    background-color: lightblue;
    font-size:20px;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    height:30px;
}
.btn{
    margin-bottom:20px;
}
.calendar-today {
    background-color: #74c3f0;
}
.nav-calendar{
    padding-left:revert;
}
input, option, textarea {
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
}
.tab{
    background-color: rgba(0, 0, 0, 0.5);
}
.login input, .code input{
    color:black;

    margin-top: 0px;
}
#footer{
    margin: 10px;
    border-radius: 10px;
}
#footer p{
    text-align: center;
}
.btn-block{
    width: 90%;
    margin-bottom: 30px;
    margin: auto;
}
.answerbox{
    margin-bottom: 50px;
}
#mark{
    vertical-align: bottom;
    display: inline;
}
/* Branding */
img #logo-color{
    height:40px;
}
#large-logo-color{
    margin:20px 00px 20px 20px;
    max-width:100px;
    border-radius: 20px;
}

.avatar{
    text-align: center;
}
.speaker img{

    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin:5px;
}
#elements{
    border-radius: 10px;
    border: #74c3f0 1px solid;
    padding: 10px;
    display: inline-block;
}
.module-img{
    max-height:300px;
    margin-bottom: 20px;
}
.imageClickOver{
    max-height:40;
    margin-bottom: 20px;
    border: #286588 1px solid;
}

.scrollbar{
    text-align: left;
}
.attemplate{
    margin-bottom: 1px;
    min-height:10px;
    
}
.attemplate .script{
    min-height:50px;
    padding-left: 20px;
    padding-top:5px;
    padding-right: 20px;
}

#ATTemplate0 .script{
    color:white;
    background-color: #286588;

}
#ATTemplate1 .script{
    color:white;
    background-color: #28883d;
}
.autoTutorHistory{
    padding-right: 10px;
    padding-top: 5px;
    overflow-y : scroll;
    overflow-x: hidden;
    max-height: 20vh;
}
.autoTutorContainer{
    border-radius: 10px;
    border: #74c3f0 1px solid;
}
.autoTutorHistoryHidden{
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height:none;
}
.showAutoTutorHistory span, .hideAutoTutorHistory span{
    border: #74c3f0 2px solid;
    background-color: antiquewhite;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
}
@media screen and (max-width: 768px) {
    .autoTutorHistory{
        max-height: 30vh;
    }
    .autoTutorHistoryHidden{
        
    }
}
.Messages{
    background-color: #74c3f0;
    color:white;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 5px;
    text-align: left;
    padding: 5px;
}
.scorebarcontainer{
    background-color:#d9eaf4;
    border-radius: 10px;
    height:20px;
}
.scorebar{
    border-radius: 10px;
    height:20px;
    width:2%;
    background-color: #74c3f0;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.2);
    color:white;
    font-size: 30px;
    font-weight: bold;
    width:100%;
    height:100%;
    text-shadow: black 0.1em 0.1em 0.1em;
    margin-left: 5%;
}
.overlay:hover{
    background-color: rgba(0,0, 0, .5);
    color:white;
}
.selected{
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.btn-wrong{
    background-color: rgba(255, 0, 0, 1) !important;
    color:white !important;
}
.btn-correct{
    background-color: rgb(17, 184, 61) !important;
    color:black !important;
}
.characterIcon{
    border-radius: 50px;
    width: 30px;
    height: 30px;
    border: #d9eaf4 3px solid;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 5px;
}
.menuBar{
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: #74c3f0 1px solid;
    padding-top: 5px;
    background-color: white;
    width: 100vw;
    box-shadow: #286588 0px 0px 10px;
}
.questionImage{
    max-height: 200px;
    max-width: 100%;
    margin-bottom: 10px;
}
.menuBar .btn{
    font-size: medium;
    height: 60px;
    max-width:33vw;
}