<template name="modulesAdmin">
    <div class="container">
        <ul class="nav nav-tabs" style>
            <li class="nav-item">
            <a class="nav-link active" id="toggle-general-tab" aria-current="page" href="/control-panel">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="toggle-modules-tab" aria-current="page" href="/modulesAdmin">Modules</a>
                </li>
            <li class="nav-item">
            <a class="nav-link toggle-classes-tab" href="/classAdmin">Classes</a>
            </li>
            <li class="nav-item">
            <a class="nav-link toggle-users-view" href="/usersAdmin">Users</a>
            </li>
        </ul>
    </div>
    <div class="px-4 py-5 my-5 container">
        <div class="col-4" id="modules">
            <h3>Default Flow</h3>
            This is the flow of assignments and modules for new users to this organization, independent of classes.
            {{#if assignments}}
            <table class="table" id="assessmentList">
                <thead>
                    <th scope="col" width="50%">Module/Assignment</th>
                    <th scope="col" width="50%">Actions</th>
                </thead>
                <tbody>
                {{#each assignments}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>
                            {{#if isInRole 'admin'}}
                            {{#if this.first}}
                            {{else}}
                            <a id="moveup-assignment" data-index="{{@index}}">Move Up</a><br>
                            {{/if}}
                            {{#if this.last}}
                            {{else}}
                            <a id="movedown-assignment" data-index="{{@index}}">Move Down</a><br>
                            {{/if}}
                            <a id="unassign-new" data-assessment-id="{{this._id}}">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Remove
                            </a>
                            {{/if}}
                            </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            {{else}}
            Your organization does not have a default assignment flow for new users.
            {{/if}}
            <h3>Modules Available</h3>
            <div id="alert-mods" class="alert" role="alert" hidden>
                <span id="alert-mods-p"></span>
                <button id="alert-mods-confirm" class="btn btn-caution" hidden>Confirm</button>
                <button id="close-mods-alert" class="btn btn-caution">Close</button>
              </div>
            <table class="table" id="assessmentList">
                <thead>
                    <th scope="col" width="30%">Module</th>
                    <th scope="col" width="20%">Status</th>
                    <th scope="col" width="40%">Actions</th>
                </thead>
                <tbody>
                {{#each module}}
                <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.status}}</td>
                        <td>
                            {{#if isInRole 'admin'}}
                            {{#if this.newUserRequired}}
                                <a data-module-id="{{this._id}}" id="unassign-new-module">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Remove for new users
                                </a>
                            {{else}}
                                <a data-module-id="{{this._id}}" id="assign-new-module">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Require for new users
                                </a>
                            {{/if}}
                            <br>
                            {{/if}}
                            {{#if owned}}
                                <a data-module-id="{{this._id}}" id="edit-module">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit Module
                                </a>
                                <br>
                                <a data-module-id="{{this._id}}" id="delete-module">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete Module
                                </a>
                                <br>
                            {{/if}}
                            <a data-module-id="{{this._id}}" id="copy-module">
                                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>Copy Module
                            </a>
                        </td>
                    </tr>
                {{/each}}
                    <tr>
                        <td>
                            <a id="add-module">Create New Module</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        <h3>Assets Available</h3>
        {{#if files}}
        <div id="alert-files" class="alert" role="alert" hidden>
            <span id="alert-files-p"></span>
            <button id="alert-files-confirm" class="btn btn-caution" hidden>Confirm</button>
            <button id="close-files-alert" class="btn btn-caution">Close</button>
          </div>
        <table class="table" id="assessmentList">
            <thead>
                <th scope="col" width="40%">File</th>
                <th scope="col" width="20%">Type</th>
                <th scope="col" width="20%">Preview</th>
                <th scope="col" width="20%">Action</th>
            </thead>
                {{#each files}}
                <tr>
                    <td>
                        <a href="{{this.filePath}}" target="_new">{{this.name}}</a>
                    </td>
                    <td>
                        {{this.type}}
                    </td>
                    <td>
                        {{#if this.isImage}}<img src="{{this.filePath}}" class="img-responsive" style="max-width: 80px;">{{/if}}
                    </td>
                    <td>
                        <a id="delete-file" data-name="{{this.name}}">Delete</a>
                    </td>
                </tr>
                {{/each}}
            <tbody>
            </tbody>
            </table>
        {{else}}
        No assets have been uploaded for your organziation.
        {{/if}}
        <h3>Assets Uploader</h3>
        <p>This uploads your assets for use in modules. You may use image and video files. A link will be generated for you to use in authoring.</p>
        {{#with currentUpload}}
            Uploading <b>{{file.name}}</b>:
            <span id="progress">{{progress.get}}%</span>
        {{else}}<br>
        <input id="fileInput" style="display:block;" type="file" />
        {{/with}}
        </div>
</div>
</template>