<template name="autoplayModal">
    <h4>AutoTutor Audio is Disabled</h4>
    <p>
        Your browser currently does not support either autoplay or audio playback. Please enable one of these features to use AutoTutor.
    </p>
    <p>
        A manual play button is available to start each activity's audio.
    </p>
    <p>
        If you are using iOS, your settings might be preventing the audio from playing. You might have to change your settings using the settings app on your device.
    </p>
    <ul>
        <!-- autoplay links for each browser-->
        <li>
            <a href="https://support.google.com/chrome/answer/114662?hl=en&co=GENIE.Platform%3DAndroid" target="_blank">Chrome</a>
        </li>
        <li>
            <a href="https://support.mozilla.org/en-US/kb/block-autoplay" target="_blank">Firefox</a>
        </li>
        <li>
            <a href="https://support.apple.com/guide/safari/stop-autoplay-videos-ibrw29c6ecf8/mac" target="_blank">Safari</a>
        </li>
    </ul>   
</template>