<template name="help">
    <div class="row">
        <div class="col-xs-12 text-center"><h3>About</h3></div>
        <div class="col-xs-12">
            <p>
                IISae is a developmental project at the Institute of Intelligent Systems at the University of Memphis. It is maintained by Rhodes White (gitHub: megaGeese) and James Haner (github: JRustyHaner).  It is meant to be an engine for research projects and data gathering. For more information, email jrhaner@memphis.edu.
            </p>
            <p></p>
        </div>
        <div class="col-xs-12 text-center"><h3>Help</h3></div>
        <div class="col-xs-12">
            <p>
                IISae is managed by  gitHub. Any issues can be reported there or by emailing jrhaner@memphis.edu
            </p>
        </div>
    </div>

    
</template>