<template name="moduleCenter">
    <div class="px-4 py-5 my-5 text-center">
       <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        {{#if classes}}
        <p class="lead mb-4">Below are a list of classes you are enrolled in.</p>
            {{#each classes}} 
            <hr>
            <h2>{{this.name}}</h2>
            <br>
                {{#if this.hasModules}}
                <div class="container">
                    <div class="row row-cols-sm-6 row-cols-md-12 justify-content-center text-center">
                    {{#each this.flow}}

                        <div class="col module-column" style="display: inline-block;">
                            <div class="card module-card">
                                <div class="card-body">
                                    <button id="{{this.moduleId}}" data-module="{{this.moduleID}}" class="startModule btn btn-primary startAssessment">
                                    <h4>{{this.title}}
                                        {{#if this.isPractice}}
                                        <i>(practice)</i>
                                        {{/if}}
                                        </h4>
                                </button>
                                </div>
                              </div>
                            </div> 
                    {{/each}}
                </div>
            </div> 
                {{else}}
                There are no modules in this class.
                {{/if}}
            {{/each}}
        {{else}}
                You are not currently assigned to any modules or classes.
        {{/if}}
        </div>
    </div>
</template>