<template name="moduleReport">
    <div class="px-4 py-5 my-5 text-left">
       <h1>Module Report:</h1>
       <p>Module Name: {{generalinfo.title}}<br>
        Last Accessed: {{generalinfo.lastAccessed}}<br>
       </p>
       <div class="d-grid gap-2 d-sm-flex">
        <table class="table" id="moduleList">
            <thead>
                <th scope="col" width="20%">Activity</th>
                <th scope="col" width="20%">Question</th>
                <th scope="col" width="20%">Correct Answer</th>
                <th scope="col" width="20%">Response</th>
                <th scope="col" width="20%">Result</th>
            </thead>
            <tbody>
                {{#each responses}}
                    <tr>
                        <td>Page: {{this.pageId}} / Activity: {{this.questionId}}</td>
                        <td>{{this.prompt}}</td>
                        <td>{{this.correctanswer}}</td>
                        <td>{{this.response}}</td>
                        <td>{{this.result}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    </div>
</template>