<template name="moduleEditor">
    <div class="px-4 py-5 my-5">
        <h2><a href="/control-panel">Control Panel</a> / Module Editor / {{module.title}}</h2>
        <p>All changes are made instantly.</p>
        <hr>
        <h3>Information</h3>
        Title: {{module.title}}<a id="open-editor" data-value={{module.title}} data-field="title"> Edit</a><br>
        Display: {{#if module.display}}<code id="switch">true</code>{{else}}<code id="switch">false</code>{{/if}}<a id="switch-display"> Switch</a><br>
        Identifier: {{module.identifier}}<a id="open-editor" data-value={{module.identifier}} data-field="identifier"> Edit</a><br>
        <h3>Description</h3>
        <p>{{module.description}}<a id="open-editor" data-value={{module.description}} data-field="description"> Edit</a><br></p>
        <h3>Experiment Options</h3>
        Google Voice/TTS API Key: {{module.googleAPIKey}}<a id="open-editor" data-value={{module.googleAPIKey}} data-field="googleAPIKey"> Edit</a><br>
            <div class="form-check">
            Enable Scoring:
            {{#if module.enableScoring}}
            <input class="markCorrect"  data-field="enableScoring" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="enableScoring" data-value="true" type="checkbox" >
            {{/if}}        
          </div>
          <div class="form-check">
            Randomize Choice / Word Bank Order:
            {{#if module.randomChoice}}
            <input class="markCorrect"  data-field="randomChoice" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="randomChoice" data-value="true" type="checkbox" >
            {{/if}}        
          </div>
          <div class="form-check">
            Skip Interstital Pages for Activities:
            {{#if module.skipInterstitials}}
            <input class="markCorrect"  data-field="skipInterstitials" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="skipInterstitials" data-value="true" type="checkbox" >
            {{/if}}        
          </div>
          <div class="form-check">
            Enable Answer Tags:
            {{#if module.enableAnswerTags}}
            <input class="markCorrect"  data-field="enableAnswerTags" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="enableAnswerTags" data-value="true" type="checkbox" >
            {{/if}}        
          </div>
          {{#if module.enableScoring}}
          <div class="form-check">
            Enable Score Display:
            {{#if module.showScoring}}
            <input class="markCorrect"  data-field="showScoring" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="showScoring" data-value="true" type="checkbox" >
            {{/if}}        
          </div>
          <div class="form-check">
            Enable Weighted Questions:
            {{#if module.enableWeightedQuestions}}
            <input class="markCorrect"  data-field="enableWeightedQuestions" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="enableWeightedQuestions" data-value="true" type="checkbox" >
            {{/if}}        
          </div>
          <div class="form-check">
            Enable Adaptive Page Flow:
            {{#if module.enableAdaptivePages}}
            <input class="markCorrect"  data-field="enableAdaptivePages" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="enableAdaptivePages" data-value="true" type="checkbox" >
            {{/if}}        
          </div>
          <div class="form-check">
            Enable Adaptive Question Flow:
            {{#if module.enableAdaptiveQuestions}}
            <input class="markCorrect"  data-field="enableAdaptiveQuestions" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="enableAdaptiveQuestions" data-value="true" type="checkbox" >
            {{/if}}        
          </div>
          {{/if}}
          <div class="form-check">
            Enable Refutational Feedback:
            {{#if module.enableFeedback}}
            <input class="markCorrect"  data-field="enableFeedback" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="enableFeedback" data-value="true" type="checkbox" >
            {{/if}}        
          </div>
          {{#if module.enableFeedback}}
          <div class="form-check">
            Enable Linguistic Semantic Analysis (LSA) for blank and longtext evaluation. This is a fallback for a simple match:
            {{#if module.enableLSA}}
            <input class="markCorrect"  data-field="enableLSA" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="enableLSA" data-value="true" type="checkbox" >
            {{/if}}        
          </div>
          {{#if module.enableLSA}}
          <p>LSA Threshold (0 being no match, 1 being perfect): {{module.lsaThreshold}}<a id="open-editor" data-value={{module.lsaThreshold}} data-field="lsaThreshold"> Edit</a><br></p>
          {{/if}}
        {{/if}}
        {{#if module.googleAPIKey}}
        <div class="form-check">
            Enable AutoTutor:
            {{#if module.enableAutoTutor}}
            <input class="markCorrect"  data-field="enableAutoTutor" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="enableAutoTutor" data-value="true" type="checkbox" >
            {{/if}}        
          </div>
          <div class="form-check">
            Enable Audio Recording:
            {{#if module.audioRecording}}
            <input class="markCorrect"  data-field="audioRecording" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="audioRecording" data-value="true" type="checkbox" >
            {{/if}}        
          </div>
        {{/if}}
        {{#if module.enableFeedback}}
        Feedback Timeout: {{module.feedbackTimeout}}<a id="open-editor" data-value={{module.feedbackTimeout}} data-field="feedbackTimeout"> Edit</a><br>
        {{/if}}
        {{#if module.enableAdaptivePages}}
        <h3>Adaptive Page Flow Options</h3>
        <p>Adaptive Page Flow allows for pages to be branched based off conditions.</p>
        Fallback routing:
        <select id="type" class="combo-save" data-field="fallbackRoute">
          <option >{{module.fallbackRoute}}</option>
          <option value="currentPage">Retry Current Page</option>
          <option value="nextPage">Next Numerical Page</option>
          <option value="completed">Completed</option>
          <option value="error">Throw Error</option>
      </select>
        <div class="form-check">
            Override With Javascript Snippet
            {{#if module.adaptivePageFlowOverride}}
            <input class="markCorrect"  data-field="adaptivePageFlowOverride" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="adaptivePageFlowOverride" data-value="true" type="checkbox" >
            {{/if}}        
          </div>
          {{#if module.adaptivePageFlowOverride}}
            Available Variables: 
            {{#each module.pageFlowVarNames}}
            moduleData.{{this}}
            {{/each}}<br>
            <h4>Javascript Snippet:</h4>
            {{module.adaptivePageFlowOverrideScript}}<a id="open-editor" data-field="adaptivePageFlowOverrideScript"  data-value="{{this.adaptivePageFlowOverrideScript}}"> Edit</a><br>
          {{/if}}
        {{/if}}
        {{#if module.enableAutoTutor}}
        <h3>AutoTutor Options</h3>
        <p>The AutoTutor Conversational Engine allows for a simulation of a classroom setting with a virtual instructor and multiple virtual students.</p>
        <div class="form-check">
            <div class="form-check">
            AutoTutor reads prompt:
            {{#if module.autoTutorReadsPrompt}}
            <input class="markCorrect"  data-field="autoTutorReadsPrompt" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="autoTutorReadsPrompt" data-value="true" type="checkbox" >
            {{/if}}        
            </div>
            <div class="form-check">
            AutoTutor reads script:
            {{#if module.autoTutorReadsScript}}
            <input class="markCorrect"  data-field="autoTutorReadsScript" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="autoTutorReadsScript" data-value="true" type="checkbox" >
            {{/if}}        
            </div>
            {{#if module.autoTutorReadsScript}}
            <div class="form-check">
            AutoTutor allowed to repeat itself:
            {{#if module.autoTutorRepeat}}
            <input class="markCorrect"  data-field="autoTutorRepeat" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="autoTutorRepeat" data-value="true" type="checkbox" >
            {{/if}}        
            </div>
            {{/if}}
            <div class="form-check">
            AutoTutor reads user response:
            {{#if module.autoTutorReadsResponse}}
            <input class="markCorrect"  data-field="autoTutorReadsResponse" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="autoTutorReadsResponse" data-value="true" type="checkbox" >
            {{/if}}        
            </div>
            AutoTutor reads refutation:
            {{#if module.autoTutorReadsRefutation}}
            <input class="markCorrect"  data-field="autoTutorReadsRefutation" data-value="false" type="checkbox"  checked>
            {{else}}
            <input class="markCorrect"  data-field="autoTutorReadsRefutation" data-value="true" type="checkbox" >
            {{/if}}        
          </div>
          
          <br>
          {{#if module.autoTutorCharacter}}
          <h4>AutoTutor Characters</h4>
          Who Reads Prompts and Refutation?
          <select id="type" class="combo-save" data-field="characterReadsPrompts">
            <option>{{module.characterReadsPrompts}}</option>
            {{#each module.autoTutorCharacter}}
            <option>{{this.name}}</option>
            {{/each}}
        </select>
          <table class="table" id="autoTutorCharacters">
            <thead>
                <th scope="col" width="25%">Name</th>
                <th scope="col" width="25%">Voice</th>
                <th scope="col" width="25%">Art URL</th>
                <th scope="col" width="25%">Actions</th>
            </thead>
            <tbody>
                {{#each module.autoTutorCharacter}}
                <tr>
                    <td>
                        {{this.name}}<a id="open-editor" data-field="autoTutorCharacter[{{@index}}].name"  data-value="{{this.name}}"> Edit</a><br>
                    </td>
                    <td>
                        <select id="type" class="combo-save" data-field="autoTutorCharacter[{{@index}}].voice">
                            <option>{{this.voice}}</option>
                            <option value="en-US-Standard-A">Male 1</option>
                            <option value="en-US-Standard-B">Male 2</option>
                            <option value="en-US-Standard-C">Female 1</option>
                            <option value="en-US-Standard-E">Female 2</option>
                        </select>
                    </td>
                    <td>
                        <img src="{{this.art}}" style="max-width: 100px;" /><a id="open-editor" data-field="autoTutorCharacter[{{@index}}].art"  data-value="{{this.art}}"> Edit</a><br>
                    </td>
                    <td>
                        <a id="delete-item" data-field="autoTutorCharacter[{{@index}}]">Delete Character</a><br>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            </table>
            {{/if}}
          <a id="add-item" data-field="autoTutorCharacter">Add AutoTutor Character</a>
        {{/if}}
        <hr>
        <h3>Module Flow</h3>
        {{#each module.pages}}


        
            <h3><u>Page {{@index}}: {{this.header}}: {{this.subheader}}</u></h3>
        
       <div>
        <table class="table" id="pageList-{{@index}}">
            <thead>
                <th scope="col" width="5%">Type</th>
                <th scope="col" width="10%">Header</th>
                <th scope="col" width="10%">Subheader</th>
                <th scope="col" width="40%">Text/HTML</th>
                <th scope="col" width="10%">Image</th>
                <th scope="col" width="10%">Image Below Text?</th>
                <th scope="col" width="10%">Actions</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                    <div id="pages-{{@index}}-type">
                        <select id="type" class="combo-save" data-field="pages[{{@index}}].type">
                            <option >{{this.type}}</option>
                            <option>text</option>
                            <option>embed</option>
                            <option>image</option>
                            <option>activity</option>
                        </select>
                    </div>
                    </td>
                    <td>
                    <div id="pages-{{@index}}-header">
                        {{this.header}} <a id="open-editor" data-field="pages[{{@index}}].header" data-target="pages-{{@index}}-header" data-value="{{this.header}}"> Edit</a><br>
                    </div>
                    </td>
                    <td>
                        <div id="pages-{{@index}}-subheader">
                            {{this.subheader}}<a id="open-editor" data-field="pages[{{@index}}].subheader" data-target="pages-{{@index}}-subheader" data-value="{{this.subheader}}"> Edit</a><br>
                        </div>
                    </td>
                    <td>
                        {{#if this.isEmbed}}
                            <textarea id="textarea-editor">{{this.embeddedHTML}}</textarea>
                            <button class="btn btn-primary" id="button-save-direct" data-field="pages[{{@index}}].embeddedHTML">Save</button>
                        {{else}}
                        <div id="pages-{{@index}}-text">
                            {{this.text}}<a id="open-editor" data-field="pages[{{@index}}].text" data-target="pages-{{@index}}-text" data-value="{{this.text}}"> Edit</a><br>
                        </div>
                        {{/if}}
                    </td>
                    <td>
                        {{#if this.isEmbed}}
                        {{else}}
                        <div id="pages-{{@index}}-image">
                            {{this.image}}<a id="open-editor" data-field="pages[{{@index}}].image" data-target="pages-{{@index}}-image" data-value="{{this.image}}"> Edit</a><br>
                        </div>
                        {{/if}}
                    </td>
                    <td>
                        {{#if this.isEmbed}}
                        {{else}}
                        <div id="pages-{{@index}}-imageBelow">
                            {{this.imageBelow}}<a id="open-editor" data-field="pages[{{@index}}].imageBelow" data-target="pages-{{@index}}-imageBelow" data-value="{{this.imageBelow}}"> Edit</a><br>
                        </div>
                        {{/if}}
                    </td>
                    <td>
                        <div id="page-{{this.id}}">
                            <a id="delete-item" data-field="pages[{{@index}}]">Delete</a><br>
                            {{#if this.isActivity}}
                            {{else}}
                            <a id="add-item" data-field="pages[{{@index}}].autoTutorScript">Add AutoTutor</a>
                            {{/if}}
                        </div>
                    </td>
              </tr>
              {{#each this.autoTutorScript}}
              <tr>
                  <td>AutoTutor-></td>
                  <td><b>Character:</b>
                    <select id="type" class="combo-save" data-field="pages[{{this.parent}}].autoTutorScript[{{@index}}].character">
                        <option >{{this.character}}</option>
                        {{#each this.characterChoices}}
                            <option>{{this.name}}</option>
                        {{/each}}
                    </select>
                </td>
                <td></td>
                  <td><b>Speech: </b>{{this.script}}</td>
                  <td></td>
                    <td></td>
                    
                  <td>
                    
                    <a id="delete-item" data-field="pages[{{this.parent}}].autoTutorScript[{{@index}}]">Delete Line</a><br>
                    <a id="add-item" data-field="pages[{{@index}}].autoTutorScript">Add Line</a>
                  </td>
              </tr>
              {{/each}}
            </tbody>
        </table>
        {{#if this.isActivity}}
        {{#each questions}}
        Activity {{@index}}
       <div>
        <table class="table" id="questionList">
            <thead>
                <th scope="col" width="10%">Type</th>
                <th scope="col" width="40%">Field</th>
                <th scope="col" width="30%">Options</th>
                <th scope="col" width="20%">Actions</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div id="pages[{{this.parent}}]-questions[{{@index}}]-type">
                            <select id="type" class="combo-save" data-field="pages[{{this.parent}}].questions[{{@index}}].type">
                                <option >{{this.type}}</option>
                                <option>longtext</option>
                                <option>blank</option>
                                <option>wordbank</option>
                                <option>multiChoice</option>
                                <option>scrollbar</option>
                                <option>questionSelectBoard</option>
                                <option>link</option>
                                <option>html</option>
                                <option>video</option>
                                <option>autotutorscript</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <b>Stimulus:</b>{{this.prompt}}<a id="open-editor" data-field="pages[{{this.parent}}].questions[{{@index}}].prompt" data-value="{{this.image}}"> Edit</a><br>
                    </td>
                    <td>
                        {{#if this.showTextOptions}}
                        {{#if this.enableLSA}}
                        {{else}}
                        <b>Correct Answer:</b>{{this.correctAnswer}}<a id="open-editor" data-field="pages[{{this.parent}}].questions[{{@index}}].correctAnswer" data-value="{{this.correctAnswer}}"> Edit</a><br>
                        <b>Value: </b>{{this.value}}<a id="open-editor" data-field="pages[{{this.parent}}].questions[{{@index}}].value" data-value="{{this.value}}"> Edit</a><br>
                        {{#if this.isQuestionSelectBoard}}
                        <b>Goal Score:</b>{{this.goalScore}}<a id="open-editor" data-field="pages[{{this.parent}}].questions[{{@index}}].goalScore" data-value="{{this.goalScore}}"> Edit</a><br>
                        {{/if}}
                        {{/if}}
                        {{/if}}
                        {{#if this.isMultiChoice}}
                        <b>Value: </b>{{this.value}}<a id="open-editor" data-field="pages[{{this.parent}}].questions[{{@index}}].value" data-value="{{this.value}}"> Edit</a><br>
                        <b>Correct Answer:</b>
                        <select id="type" class="combo-save" data-field="pages[{{this.parent}}].questions[{{@index}}].correctAnswer">
                            <option>{{this.correctAnswer}}</option>
                            {{#each this.answers}}
                            <option>{{this.answer}}</option>
                            {{/each}}
                        </select><br>
                        {{/if}}
                        <b>Skip refutation</b>
                        {{#if this.noRefutation}}
                        <input class="markCorrect"  data-field="pages[{{this.parent}}].questions[{{@index}}].noRefutation" data-value="false" type="checkbox"  checked>
                        {{else}}
                        <input class="markCorrect"  data-field="pages[{{this.parent}}].questions[{{@index}}].noRefutation" data-value="true" type="checkbox" >
                        {{/if}}        
                        <br>
                        <b>Refutational Feedback:</b>{{this.incorrectFeedback}}<a id="open-editor" data-field="pages[{{this.parent}}].questions[{{@index}}].incorrectFeedback" data-value="{{this.incorrectFeedback}}"> Edit</a><br>
                        <b>Question Weight:</b>{{this.weight}}<a id="open-editor" data-field="pages[{{this.parent}}].questions[{{@index}}].weight" data-value="{{this.weight}}"> Edit</a><br>
                        <b>Image Attached:</b>{{this.image}}<a id="open-editor" data-field="pages[{{this.parent}}].questions[{{@index}}].image" data-value="{{this.image}}"> Edit</a><br>
                        <b>Answer Tag:</b>{{this.answerTag}}<a id="open-editor" data-field="pages[{{this.parent}}].questions[{{@index}}].answerTag" data-value="{{this.answerTag}}"> Edit</a><br>
                        <b>Persistant Answer Tag:</b>{{this.persistantAnswerTag}}<a id="open-editor" data-field="pages[{{this.parent}}].questions[{{@index}}].persistantAnswerTag" data-value="{{this.persistantAnswerTag}}"> Edit</a><br>
                    </td>
                    <td>
                        <a id="delete-item" data-field="pages[{{this.parent}}].questions[{{@index}}]">Delete</a><br>
                        <a id="add-item" data-field="pages[{{this.parent}}].questions[{{@index}}].autoTutorScript">Add AutoTutor</a>
                        {{#if this.isMultiChoice}}
                        <br> <a id="add-item" data-field="pages[{{this.parent}}].questions[{{@index}}].answers">Add Choice</a>
                        {{/if}}
                        {{#if this.isWordBank}}
                        <br> <a id="add-item" data-field="pages[{{this.parent}}].questions[{{@index}}].answers">Add Word or Phrase</a>
                        {{/if}}
                        {{#if this.showTextOptions}}
                        {{#if this.enableLSA}}
                        <br><a id="add-item" data-field="pages[{{this.parent}}].questions[{{@index}}].answerCorpera">Add LSA Answer Corpera</a>
                        {{/if}}
                        {{/if}}
                        
                    </td>
                </tr>
                {{#each this.answerCorpera}}
                <tr>
                    <td>LSA Answer-></td>
                    <td><b>Answer: </b>{{this.corpus}}<a id="open-editor" data-field="pages[{{this.page}}].questions[{{this.parent}}].answerCorpera[{{@index}}].corpus" data-value="{{this.corpus}}"> Edit</a><br>
                  </td>
                    <td></td>
                    <td>
                        <a id="delete-item" data-field="pages[{{this.page}}].questions[{{this.parent}}].answerCorpera[{{@index}}]">Delete Answer</a><br>
                    </td>
                </tr>
                {{/each}}
                {{#each this.autoTutorScript}}
                <tr>
                    <td>AutoTutor-></td>
                    <td><b>Character:</b>
                      <select id="type" class="combo-save" data-field="pages[{{this.page}}].questions[{{this.parent}}].autoTutorScript[{{@index}}].character">
                          <option >{{this.character}}</option>
                          {{#each this.characterChoices}}
                              <option>{{this.name}}</option>
                          {{/each}}
                      </select>
                  </td>
                    <td><b>Speech: </b>{{this.script}}<a id="open-editor" data-field="pages[{{this.page}}].questions[{{this.parent}}].autoTutorScript[{{@index}}].script" data-value="{{this.script}}"> Edit</a><br></td>
                    <td>
                        <a id="delete-item" data-field="pages[{{this.page}}].questions[{{this.parent}}].autoTutorScript[{{@index}}]">Delete Line</a><br>
                        <a id="add-item" data-field="pages[{{this.page}}].questions[{{this.parent}}].autoTutorScript">Add Line</a>
                    </td>
                </tr>
                {{/each}}
                {{#if this.isWordBank}}
                {{#each this.answers}}
                <tr>
                    <td>
                        Word Bank -->
                    </td>
                    <td>
                        {{this.answer}}<a id="open-editor" data-field="pages[{{this.page}}].questions[{{this.parent}}].answers[{{@index}}].answer" data-value="{{this.answer}}"> Edit</a><br>
                    </td>
                    <td>
                    </td>
                    <td>
                        <a id="delete-item" data-field="pages[{{this.page}}].questions[{{this.parent}}].answers[{{@index}}]">Delete</a>
                    </td>
                </tr>
                {{/each}}
                {{/if}}
                {{#if this.isMultiChoice}}
                    {{#each this.answers}}
                    <tr>
                        <td>
                            Answer -->
                        </td>
                        <td>
                            {{this.answer}}<a id="open-editor" data-field="pages[{{this.page}}].questions[{{this.parent}}].answers[{{@index}}].answer" data-value="{{this.answer}}"> Edit</a><br>
                        </td>
                        <td>
                            <b>Image Attached:</b><img src="{{this.image}}" style="max-width:40px;"><a id="open-editor" data-field="pages[{{this.page}}].questions[{{this.parent}}].answers[{{@index}}].image" data-value="{{this.image}}"> Edit</a><br>
                            <b>Value:</b>{{this.value}}<a id="open-editor" data-field="pages[{{this.page}}].questions[{{this.parent}}].answers[{{@index}}].value" data-value="{{this.value}}"> Edit</a><br>
                            <b>Feedback:</b>{{this.feedback}}<a id="open-editor" data-field="pages[{{this.page}}].questions[{{this.parent}}].answers[{{@index}}].feedback" data-value="{{this.feedback}}"> Edit</a><br>
                        </td>
                        <td>
                            <a id="delete-item" data-field="pages[{{this.page}}].questions[{{this.parent}}].answers[{{@index}}]">Delete</a>
                        </td>
                    </tr>
                    {{/each}}
                {{/if}}
            </tbody>
        </table>
        </div>
        {{/each}}
        <a id="add-item" data-field="pages[{{@index}}].questions">Add Activity</a><br>
        {{/if}}
        {{#if this.nextFlow}}
        <h4><u>Page Routes</u></h4>
        <table class="table" id="flowList">
            <thead>
                <th scope="col" width="30%">Type</th>
                <th scope="col" width="10%">Threshold</th>
                <th scope="col" width="30%">Page to Route To</th>
                <th scope="col" width="20%">Options</th>
                <th scope="col" width="20%">Actions</th>
            </thead>
            <tbody>
            {{#each this.nextFlow}}
                <tr>
                    <td>
                        <select id="type" class="combo-save" data-field="pages[{{this.parent}}].nextFlow[{{@index}}].condition">
                            <option >{{this.condition}}</option>
                            <option value="static">Static</option>
                            {{#each this.pageFlowVars}}
                            <option val="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                        <select id="type" class="combo-save" data-field="pages[{{this.parent}}].nextFlow[{{@index}}].operand">
                            <option >{{this.operand}}</option>
                            <option>&lt;</option>
                            <option>&gt;</option>
                            <option>&lt;&equals;</option>
                            <option>&gt;&equals;</option>
                            <option>&equals;&equals;</option>
                        </select>
                    </td>
                    <td>
                        {{this.threshold}}<a id="open-editor" data-field="pages[{{this.parent}}].nextFlow[{{@index}}].threshold" data-value="{{this.threshold}}"> Edit</a><br>
                    </td>
                    <td>
                        <select id="type" class="combo-save" data-field="pages[{{this.parent}}].nextFlow[{{@index}}].route">
                        <option value="{{@index}}">{{this.route}}</option>
                        {{#each this.pageList}}
                        <option value="{{@index}}">Page {{@index}} : {{this.header}} : {{this.subheader}}</option>
                        {{/each}}
                        <option value="completed">End</option>
                        </select>
                    </td>
                    <td>
                        <div class="form-check">
                            Clear Score:
                            {{#if this.clearScoring}}
                            <input class="markCorrect"  data-field="pages[{{this.parent}}].nextFlow[{{@index}}].clearScoring" data-value="false" type="checkbox"  checked>
                            {{else}}
                            <input class="markCorrect"  data-field="pages[{{this.parent}}].nextFlow[{{@index}}].clearScoring" data-value="true" type="checkbox" >
                            {{/if}}        
                          </div>
                    </td>
                    <td>
                        <a id="delete-item" data-field="pages[{{this.parent}}].nextFlow[{{@index}}]">Delete</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
            </table>
        {{/if}}
        <br>
        <br>
        <a id="add-item" data-field="pages[{{@index}}].nextFlow">Add Page Route</a>
        </div>
    {{/each}}
    <a id="add-item" data-field="pages">Add Page</a>
    </div>
    <a id="show-json">View JSON</a>
    <a id="hide-json" hidden>Hide JSON</a>
    <br>
    <code id="json" hidden>{{json}}</code>
    <div id="text-editor" hidden>
        <form id="change-title">
            <span style="display:block; overflow:hidden; padding-right:50px;">
            <input type="text" id="input-editor" style="width:90%">
            <button class="btn btn-primary" id="button-save">Save</button>
            </span>
            <input id="moduleId" type="hidden" value="{{module._id}}">
        </form>
    </div>
</template>