<template name="moduleCenter">
    <div class="px-4 py-5 my-5 text-center">
       <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <h1>Classrooms</h1>
        {{#if classes}}
        <p class="lead mb-4">Below are a list of classes you are enrolled in.</p>
            {{#each classes}} 
            <hr>
            <h2>{{this.name}}</h2>
                {{#if this.hasModules}}
                    {{#each this.flow}}
                        <div class="module" style="margin-top:5px;">
                            <button id="{{this.moduleId}}" class="startModule btn btn-primary startAssessment">{{this.title}} 
                                {{#if this.isPractice}}
                                    <i>(practice)</i>
                                {{/if}}
                            </button>
                        </div>
                    {{/each}}
                {{else}}
                There are no modules in this class.
                {{/if}}
            {{/each}}
        {{else}}
                You are not enrolled in any classes.
        {{/if}}
        </div>
    </div>
</template>