<template name="module">
    <div class="px-4 py-5 my-5 text-center">
        {{#if this.pageId}}
            {{#if completed}}
                <h4>{{module.title}} : Completed</h4>
                <p>You have completed this module!</p>
                <button class="btn btn-primary" id="goBack">Return to My Profile</button>    
            {{else}}
                <h4>{{page.header}} : {{page.subheader}}</h4>
                {{#if page.typeText}}
                    {{#if module.enableAutoTutor}}
                    <div class="autoTutorTemplate" hidden>
                        <div id="ATTemplate0" class="row attemplate row" hidden>
                            <div class="speaker avatar col-xs-1" style="text-align: right;" id="avatar"></div>
                            <div class="speaker script col-xs-11" style="text-align: left; background: rgb(30, 142, 216);font-size: large;color: white; border-radius: 3px; min-height:50px;  margin-bottom: 20px;"></div>
                        </div>
                        <div id="ATTemplate1" class="row attemplate row" hidden>
                            <div class="speaker script col-xs-11" style="text-align: left; background: rgb(120, 206, 143);font-size: large;color: white; border-radius: 3px; min-height:50px;  margin-bottom: 20px;"></div>
                            <div class="speaker avatar col-xs-1" style="text-align: left;" id="avatar"></div>
                        </div>
                    </div>
                    <div class="autoTutorHistory">
                    </div>
                    <br>
                    {{/if}}
                    {{#if page.imageAbove}}
                        <img src="{{page.image}}" class="mx-auto img-fluid rounded" style="{{page.imgStyle}}">
                        <br>
                    {{/if}}
                    <p id="pageText">{{{page.text}}}</p>
                    <br>
                    {{#if page.imageBelow}}
                        <img src="{{page.image}}" class="mx-auto img-fluid rounded" style="{{page.imgStyle}}">
                        <br>
                    {{/if}}
                    <button id="contine" class="btn btn-primary continue">Continue <span class="glyphicon glyphicon-play"></span></button>
                {{/if}}
                {{#if page.typeEmbed}}
                <button id="contine" class="btn btn-primary continue">Continue <span class="glyphicon glyphicon-play"></span></button>
            {{/if}}
                {{#if this.questionId}}
                    {{#if module.enableAutoTutor}}
                    <div class="autoTutorTemplate" hidden>
                        <div id="ATTemplate0" class="row attemplate row" hidden>
                            <div class="speaker avatar col-xs-1" style="text-align: right;" id="avatar"></div>
                            <div class="speaker script col-xs-11" style="text-align: left; background: rgb(30, 142, 216);font-size: large;color: white; border-radius: 3px; min-height:50px;  margin-bottom: 20px;"></div>
                        </div>
                        <div id="ATTemplate1" class="row attemplate row" hidden>
                            <div class="speaker script col-xs-11" style="text-align: left; background: rgb(120, 206, 143);font-size: large;color: white; border-radius: 3px; min-height:50px;  margin-bottom: 20px;"></div>
                            <div class="speaker avatar col-xs-1" style="text-align: left;" id="avatar"></div>
                        </div>
                    </div>
                    <div class="autoTutorHistory">
                        
                    </div>
                    <br>
                    {{/if}}
                    {{#if page.image}}
                    <img class="img-responsive center-block module-img" src="{{page.image}}" alt="Your Alt Text">
                    <br>
                    {{/if}}
                    {{#if page.text}}
                    <div id="pageText" class="col-md 4col-xs-12 scrollbar" style="overflow-y: scroll; font-size: large; max-height: 200px; max-width: 100%;">{{{page.text}}}</div>
                    <br>
                    {{/if}}
                    {{#if question.promptImg}}
                        <img src="{{question.promptImg}}" class="mx-auto img-fluid rounded" style="{{page.imgStyle}}">
                    {{/if}}
                    {{#if question.typeATScript}}      
                        {{#if question.image}}
                        <img class="img-responsive center-block module-img" src="{{question.image}}" alt="Your Alt Text">
                        <br>
                        {{/if}}
                        <button  class="btn btn-primary continue" data-group="{{this.group}}" style="white-space: normal;" value="0">Continue <span class="glyphicon glyphicon-play"></span></button>
                    {{/if}}
                        {{#if question.typeVideo}}
                        <div class="col-md-6 col-xs-1"></div>
                        <div class="col-md-6 col-xs-10"><video id="videoPrompt" autoplay style="width:100%" onended="$('.continue').prop('disabled',false); $('.continue').click()"><source src="{{question.prompt}}"></video></div>
                        <div class="col-md-6 col-xs-1"></div>
                        <button  class="btn btn-primary continue" data-group="{{this.group}}" style="white-space: normal;" value="0">Continue <span class="glyphicon glyphicon-play"></span></button>
                    {{/if}}
                    {{#if question.typeHTML}}
                    {{{question.prompt}}}
                    <button  class="btn btn-primary continue" data-group="{{this.group}}" style="white-space: normal;" value="0">Continue <span class="glyphicon glyphicon-play"></span></button>
                {{/if}}
                    {{#if question.typeBlank}}
                        {{#if module.autoTutorReadsPrompt}}
                        {{else}}
                        <h3 id="prompt">{{{question.prompt}}}</h3><br>
                        {{/if}}
                        {{#if question.image}}
                            <img class="img-responsive center-block module-img" src="{{question.image}}" alt="Your Alt Text">
                        {{/if}}
                        {{#if question.audioRecording}}
                        <p id="audioRecordingNoticeContainer">
                            <i class="fa fa-microphone"></i>
                            <bold id="audioRecordingNotice">I am preparing to listen.</bold><br>
                            <canvas id="audiovis" style="height:25px; width:200px;"></canvas>
                            <input type="text" class="textInput continue" style="text-align:center; font-size:x-large; width:100%" id="transcription" value="{{transcript}}" disabled>
                        </p>
                        {{else}}
                        <form>
                        <input type="text" class="textInput" style="font-size:x-large; width:100%" id="response">
                        </form>
                        {{/if}}
                        <br>
                        <button  class="btn btn-primary continue" data-group="{{this.group}}" style="white-space: normal;" value="{{question.value}}">Continue <span class="glyphicon glyphicon-play"></span></button>
                        <div class="alert" id="refutation" role="alert" hidden>
                            Message: {{feedback.message}}
                        </div>
                    {{/if}}
                    {{#if question.typeLongText}}
                        {{#if module.autoTutorReadsPrompt}}
                        {{else}}
                        <h3 id="prompt">{{{question.prompt}}}</h3><br>
                        {{/if}}
                        {{#if question.image}}
                        <img class="img-responsive center-block module-img" src="{{question.image}}" alt="Your Alt Text">
                        {{/if}}
                        {{#if question.audioRecording}}
                        <p id="audioRecordingNoticeContainer">
                            <i class="fa fa-microphone"></i>
                            <bold id="audioRecordingNotice">I am preparing to listen.</bold><br>
                            <canvas id="audiovis" style="height:25px; width:200px;"></canvas>
                            <form>
                                <textarea style="height:100px; width:100%;" class="textareaInput continue" id="transcription" disabled>{{transcript}}</textarea>
                            </form>
                        </p>
                        <br>
                        <button id="contine" class="btn btn-primary continue">Continue <span class="glyphicon glyphicon-play"></span></button>
                        {{else}}
                        <form>
                            <textarea style="height:100px; width:100%;" class="textareaInput"></textarea>
                        </form>
                        <br>
                        <button id="contine" class="btn btn-primary continue">Continue <span class="glyphicon glyphicon-play"></span></button>
                        {{/if}}
                    {{/if}}
                    {{#if question.typeMultiChoice}}
                    {{#if module.autoTutorReadsPrompt}}
                    {{else}}
                    <h3 id="prompt">{{{question.prompt}}}</h3><br>
                    {{/if}}
                    {{#if question.image}}
                    <img class="img-responsive center-block module-img" src="{{question.image}}" alt="Your Alt Text">
                    {{/if}}

                    <form>
                        {{#each question.answers}}
                            {{#if this.image}}
                                <button  class="btn btn-primary text-nowrap btn-lg btn-block multichoice continue" data-group="{{this.group}}" data-index="{{@index}}" style="white-space: normal;" id="{{@index}}" value="{{this.value}}" name="">
                                    <img class="img-responsive center-block" src="{{this.image}}" alt="Your Alt Text">
                                </button>
                            {{else}}
                            <button  class="btn btn-primary text-nowrap btn-lg btn-block multichoice continue" data-group="{{this.group}}" style="white-space: normal;" id="{{@index}}" value="{{this.value}}" name="">{{this.answer}}</button>
                            {{/if}}
                        {{/each}}
                    </form>
                    <div class="alert" id="refutation" role="alert" hidden>
                    Message: {{feedback.message}}
                    </div>
                    <br>
                    {{/if}}
                    {{#if question.typeImageClick}}
                    {{#if module.autoTutorReadsPrompt}}
                    {{else}}
                    <h3 id="prompt">{{{question.prompt}}}</h3><br>
                    {{/if}}
                    {{#if question.image}}
                    <img class="img-responsive center-block module-img" id="imageClickOver" src="{{question.image}}" alt="Your Alt Text">
                    {{/if}}

                    <form>
                        {{#each question.answers}}
                            <button  class="btn btn-primary text-nowrap btn-lg btn-block multichoice continue overlay" data-group="{{this.group}}" style="white-space: normal; position: absolute; top: {{this.yCoord}}px; left:{{this.xCoord}}px; width: {{this.width}}px; height: {{this.height}}px" id="{{@index}}" value="{{this.value}}" name=""></button>
                        {{/each}}
                    </form>
                    <div class="alert" id="refutation" role="alert" hidden>
                    Message: {{feedback.message}}
                    </div>
                    <br>
                    {{/if}}
                    {{#if question.typeQuestionSelectBoard}}
                    {{#if module.autoTutorReadsPrompt}}
                    {{else}}
                    <h3 id="prompt">{{{question.prompt}}}</h3><br>
                    {{/if}}
                    <div class="row text-left">
                        Score: {{question.currentScore}} / {{question.goalScore}}
                    </div>
                    <div class="row scorebarcontainer">
                        <div class="scorebar">
                        </div>
                    </div>
                    <br>
                    {{#if question.image}}
                    <img class="img-responsive center-block module-img" src="{{question.image}}" alt="Your Alt Text">
                    {{/if}}
                    <form>
                        <div class="row">
                           {{#each question.availableQuestions.categories}}
                                <div class="col-xs-2 text-center">
                                    <h4>{{this.category}}</h4>
                                    {{#each this.questions}}
                                        <button  class="btn btn-primary text-nowrap selectionboard" data-index="{{this.index}}" style="white-space: normal;" id="{{@index}}" value="{{this.value}}" name="">{{this.value}}</button><br>
                                    {{/each}}
                                </div>
                            {{/each}}
                        </div>
                    </form>
                    <br>
                    <button id="continue" class="btn btn-primary continue" disabled>Continue <span class="glyphicon glyphicon-play"></span></button>
                    {{/if}}
                    {{#if question.typeWordBank}}
                    {{#if module.autoTutorReadsPrompt}}
                    {{else}}
                    <h3 id="prompt">{{{question.prompt}}}</h3><br>
                    {{/if}}
                    {{#if question.image}}
                    <img class="img-responsive center-block module-img" src="{{question.image}}" alt="Your Alt Text">
                    {{/if}}
                    <br>
                    <input type="text" class="textBank" style="text-align:center; font-size:x-large; width:100%" id="transcription" value="{{transcript}}" disabled>
                    <br>
                    <br>
                    <form>
                        {{#each question.answers}}
                                <button  class="btn btn-primary text-nowrap btn-lg btn-block btn-wordbank-add" data-group="{{this.group}}" style="white-space: normal;" id="{{@index}}" value="{{this.value}}" name="">{{this.answer}}</button>
                        {{/each}}
                    </form>
                    <button  class="btn btn-warning text-nowrap btn-lg btn-block btn-wordbank-clear">Clear Selection</button>
                    <button id="continue" class="btn btn-primary continue" disabled>Continue <span class="glyphicon glyphicon-play"></span></button>
                    <div class="alert" id="refutation" role="alert" hidden>
                    Message: {{feedback.message}}
                    </div>
                    <br>
                    {{/if}}
                    {{#if question.typeScroll}}
                        <div class="row" style="padding:20px;">
                            <div class="col-md-4 col-xs-1"></div>
                            <div id="scrollArea" class="col-md-4 col-xs-10" style="overflow-y: scroll; font-size: large; max-height: 200px; max-width: 100%;">{{{this.prompt}}}</div>
                            <div class="col-md-4 col-xs-1"></div>
                        </div>
                        <br>
                        <br>
                        <button id="continue" class="btn btn-primary continue" disabled>Continue <span class="glyphicon glyphicon-play"></span></button>
                    {{/if}}
                    {{#if question.typeReading}}
                    {{#if question.image}}
                    <img class="img-responsive center-block module-img" src="{{question.image}}" alt="Your Alt Text">
                    <br>
                    {{/if}}
                    {{#if question.readingIsPagePrompt}}
                    {{else}}
                    <div class="row" style="padding:20px;">
                        <h3>{{question.prompt}}</h3>
                        <div class="col-md-1 col-xs-1"></div>
                        <div id="scrollArea" class="col-md 4 col-xs-12 text-left" style="overflow-y: scroll; font-size: large; max-height: 500px; max-width: 100%;">{{{question.curPassage}}}</div>
                        <div class="col-md-4 col-xs-1"></div>
                    </div>
                    {{/if}}
                    <button id="continue" class="btn btn-success readingPrevPage" >Previous Page <span class="glyphicon glyphicon-step-backward"></span></button>
                    <button id="continue" class="btn btn-success readingNextPage" >Next Page <span class="glyphicon glyphicon-step-forward"></span></button>
                    <button id="continue" class="btn btn-success readingLastPage" >Last Page <span class="glyphicon glyphicon-fast-forward"></span></button><br>
                    <button id="continue" class="btn btn-primary continue" disabled>Continue <span class="glyphicon glyphicon-play"></span></button>
                     {{/if}}
                    {{#if question.typeLink}}
                    <div id="linkArea" style="overflow-y: scroll; font-size: large; max-height: 300px;">
                        {{{question.prompt}}}</div>
                    <br>
                    <button id="continue" class="btn btn-primary continue" disabled>Continue <span class="glyphicon glyphicon-play"></span></button>
                {{/if}}
                <br>
                {{#if page.text}}{{#if module.autoTutorCanReadPassage}}<br> <button class="btn btn-read btn-success" id="autotutor-read">Read Text <span class="glyphicon glyphicon-comment"></span></button>{{/if}}{{/if}}
                {{#if module.autoTutorRepeat}} <button class="btn btn-repeat btn-success" id="autotutor-repeat">Repeat Conversation <span class="glyphicon glyphicon-repeat"></span></button>{{/if}}
                {{else}}
                     {{#if page.typeActivity}}
                         <h3><b>Activity: {{page.header}}</b></h3>
                        <p>{{page.instructions}}</p>
                         <button class="btn btn-primary" id="startActivity">Begin Activity!</button>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{else}}
                <h3>{{module.title}}</h3>
                <p>{{module.description}}</p>
                <button class="btn btn-primary" id="startModule">Lets Begin!</button>
                <button class="btn btn-caution" id="goBack">I'm not ready.</button>
            {{/if}}
    </div>
    
</template>