<template name="module">
    <div class="px-4 py-5 my-5 text-center">
        <h3>{{module.title}}</h3>
        {{#if this.pageId}}
            {{#if completed}}
                <p>You have completed this module!</p>
                <button class="btn btn-primary" id="goBack">Return to My Profile</button>    
            {{else}}
                <h3><b>{{page.header}}</b></h3>
                <h4><b>{{page.subheader}}</b></h4>
                {{#if module.showScoring}}
                    Score: {{trialData.score}}
                {{/if}}
                {{#if page.typeText}}
                    {{#if module.enableAutoTutor}}
                    <div class="row">
                        <div class="speaker col-xs-4" style="width: 25%;" id="currentAvatar"></div>
                        <div class="speaker col-xs-4" style="width: 50; text-align: left; background: rgb(30, 142, 216);font-size: large;color: white; border-radius: 3px; min-height:50px; padding: 10px; margin-bottom: 20px;" id="script" hidden></div>
                        <div class="speaker col-xs-4" style="width: 25%;" id="secondAvatar"></div>
                        <button class="btn" id="autotutor-repeat">Repeat</button>
                    </div>
                    <br>
                    {{/if}}
                    {{#if page.imageAbove}}
                        <img src="{{page.image}}" class="mx-auto img-fluid rounded" style="{{page.imgStyle}}">
                        <br>
                    {{/if}}
                    <p id="pageText">{{{page.text}}}</p>
                    <br>
                    {{#if page.imageBelow}}
                        <img src="{{page.image}}" class="mx-auto img-fluid rounded" style="{{page.imgStyle}}">
                        <br>
                    {{/if}}
                    <button id="contine" class="btn btn-primary continue">Save and Continue</button>
                {{/if}}
                {{#if page.typeEmbed}}
                {{#if module.enableAutoTutor}}
                <div class="row">
                    <div class="speaker col-xs-4" style="width: 25%;" id="currentAvatar"></div>
                    <div class="speaker col-xs-4" style="width: 75%; text-align: left; background: rgb(30, 142, 216);font-size: large;color: white; border-radius: 3px; min-height:50px; padding: 10px;  margin-bottom: 20px;" id="script" hidden></div>
                     <div class="speaker col-xs-4" style="width: 25%;" id="secondAvatar"></div>
                </div>
                {{#if module.autoTutorRepeat}} <button class="btn btn-primary btn-repeat" id="autotutor-repeat">Repeat</button>{{/if}}
                <br>
                {{/if}}
                <button id="contine" class="btn btn-primary continue">Save and Continue</button>
            {{/if}}
                {{#if this.questionId}}
                    <h5>Activity {{questionid}}</h5>
                    {{#if module.enableAutoTutor}}
                    <div class="row">
                        <div class="speaker col-xs-4" style="width: 25%;" id="currentAvatar"></div>
                        <div class="speaker col-xs-4" style="width: 75%; text-align: left; background: rgb(30, 142, 216);font-size: large;color: white; border-radius: 3px; min-height:50px; padding: 10px;  margin-bottom: 20px;" id="script" hidden></div>
                         <div class="speaker col-xs-4" style="width: 25%;" id="secondAvatar"></div>
                    </div>
                    <br>
                    {{/if}}
                    {{#if question.promptImg}}
                        <img src="{{question.promptImg}}" class="mx-auto img-fluid rounded" style="{{page.imgStyle}}">
                    {{/if}}
                    {{#if question.typeATScript}}      
                        {{#if module.enableAutoTutor}}
                        <div class="row">
                            <div class="speaker col-xs-4" style="width: 25%;" id="currentAvatar"></div>
                            <div class="speaker col-xs-4" style="width: 75%; text-align: left; background: rgb(30, 142, 216);font-size: large;color: white; border-radius: 3px; min-height:50px; padding: 10px;  margin-bottom: 20px;" id="script" hidden></div>
                             <div class="speaker col-xs-4" style="width: 25%;" id="secondAvatar"></div>
                        </div>
                        {{#if module.autoTutorRepeat}} <button class="btn btn-primary btn-repeat" id="autotutor-repeat">Repeat</button>{{/if}}
                        <br>
                        {{/if}}
                        {{#if question.image}}
                        <img class="img-responsive center-block module-img" src="{{question.image}}" alt="Your Alt Text">
                        <br>
                        {{/if}}
                        <button  class="btn btn-primary continue" data-group="{{this.group}}" style="white-space: normal;" value="0">Save and Continue</button>
                    {{/if}}
                        {{#if question.typeVideo}}
                        {{#if module.enableAutoTutor}}
                        <div class="row">
                            <div class="speaker col-xs-4" style="width: 25%;" id="currentAvatar"></div>
                            <div class="speaker col-xs-4" style="width: 75%; text-align: left; background: rgb(30, 142, 216);font-size: large;color: white; border-radius: 3px; min-height:50px; padding: 10px;  margin-bottom: 20px;" id="script" hidden></div>
                             <div class="speaker col-xs-4" style="width: 25%;" id="secondAvatar"></div>
                        </div>
                        {{#if module.autoTutorRepeat}} <button class="btn btn-primary btn-repeat" id="autotutor-repeat">Repeat</button>{{/if}}
                        {{/if}}
                        <div class="col-md-6 col-xs-1"></div>
                        <div class="col-md-6 col-xs-10"><video id="videoPrompt" autoplay style="width:100%" onended="$('.continue').prop('disabled',false); $('.continue').click()"><source src="{{question.prompt}}"></video></div>
                        <div class="col-md-6 col-xs-1"></div>
                        <button  class="btn btn-primary continue" data-group="{{this.group}}" style="white-space: normal;" value="0">Save and Continue</button>
                    {{/if}}
                    {{#if question.typeHTML}}
                    {{#if module.enableAutoTutor}}
                    <div class="row">
                        <div class="speaker col-xs-4" style="width: 25%;" id="currentAvatar"></div>
                        <div class="speaker col-xs-4" style="width: 75%; text-align: left; background: rgb(30, 142, 216);font-size: large;color: white; border-radius: 3px; min-height:50px; padding: 10px;  margin-bottom: 20px;" id="script" hidden></div>
                         <div class="speaker col-xs-4" style="width: 25%;" id="secondAvatar"></div>
                    </div>
                    {{#if module.autoTutorRepeat}} <button class="btn btn-primary btn-repeat" id="autotutor-repeat">Repeat</button>{{/if}}
                    {{{question.prompt}}}
                    <button  class="btn btn-primary continue" data-group="{{this.group}}" style="white-space: normal;" value="0">Save and Continue</button>
                    <br>
                    {{/if}}
                {{/if}}
                    {{#if question.typeBlank}}
                        {{#if module.autoTutorReadsPrompt}}
                        {{else}}
                        <h3 id="prompt">{{{question.prompt}}}</h3><br>
                        {{/if}}
                        {{#if question.image}}
                            <img class="img-responsive center-block module-img" src="{{question.image}}" alt="Your Alt Text">
                        {{/if}}
                        {{#if question.audioRecording}}
                        <p id="audioRecordingNoticeContainer">
                            <i class="fa fa-microphone"></i>
                            <bold id="audioRecordingNotice">I am preparing to listen.</bold><br>
                            <canvas id="audiovis" style="height:25px; width:200px;"></canvas>
                            <input type="text" class="textInput continue" style="text-align:center; font-size:x-large; width:100%" id="transcription" value="{{transcript}}" disabled>
                        </p>
                        {{else}}
                        <form>
                        <input type="text" class="textInput" style="font-size:x-large; width:100%" id="response">
                        </form>
                        {{/if}}
                        <br>
                        <button  class="btn btn-primary continue" data-group="{{this.group}}" style="white-space: normal;" value="{{question.value}}">Save and Continue</button>
                        <div class="alert" id="refutation" role="alert" hidden>
                            Message: {{feedback.message}}
                        </div>
                    {{/if}}
                    {{#if question.typeLongText}}
                        {{#if module.autoTutorReadsPrompt}}
                        {{else}}
                        <h3 id="prompt">{{{question.prompt}}}</h3><br>
                        {{/if}}
                        {{#if question.image}}
                        <img class="img-responsive center-block module-img" src="{{question.image}}" alt="Your Alt Text">
                        {{/if}}
                        {{#if question.audioRecording}}
                        <p id="audioRecordingNoticeContainer">
                            <i class="fa fa-microphone"></i>
                            <bold id="audioRecordingNotice">I am preparing to listen.</bold><br>
                            <canvas id="audiovis" style="height:25px; width:200px;"></canvas>
                            <form>
                                <textarea style="height:100px; width:100%;" class="textareaInput continue" id="transcription" disabled>{{transcript}}</textarea>
                            </form>
                        </p>
                        <br>
                        <button id="contine" class="btn btn-primary continue">Save and Continue</button>
                        {{else}}
                        <form>
                            <textarea style="height:100px; width:100%;" class="textareaInput"></textarea>
                        </form>
                        <br>
                        <button id="contine" class="btn btn-primary continue">Save and Continue</button>
                        {{/if}}
                    {{/if}}
                    {{#if question.typeMultiChoice}}
                    {{#if module.autoTutorReadsPrompt}}
                    {{else}}
                    <h3 id="prompt">{{{question.prompt}}}</h3><br>
                    {{/if}}
                    {{#if question.image}}
                    <img class="img-responsive center-block module-img" src="{{question.image}}" alt="Your Alt Text">
                    {{/if}}
                    <form>
                        {{#each question.answers}}
                            {{#if this.image}}
                                <button  class="btn btn-primary text-nowrap btn-lg btn-block multichoice continue" data-group="{{this.group}}" data-index="{{@index}}" style="white-space: normal;" id="{{@index}}" value="{{this.value}}" name="">
                                    <img class="img-responsive center-block" src="{{this.image}}" alt="Your Alt Text">
                                </button>
                            {{else}}
                                <button  class="btn btn-primary text-nowrap btn-lg btn-block multichoice continue" data-group="{{this.group}}" style="white-space: normal;" id="{{@index}}" value="{{this.value}}" name="">{{this.answer}}</button>
                            {{/if}}
                        {{/each}}
                    </form>
                    <div class="alert" id="refutation" role="alert" hidden>
                    Message: {{feedback.message}}
                    </div>
                    <br>
                    {{/if}}
                    {{#if question.typeWordBank}}
                    {{#if module.autoTutorReadsPrompt}}
                    {{else}}
                    <h3 id="prompt">{{{question.prompt}}}</h3><br>
                    {{/if}}
                    {{#if question.image}}
                    <img class="img-responsive center-block module-img" src="{{question.image}}" alt="Your Alt Text">
                    {{/if}}
                    <br>
                    <input type="text" class="textBank" style="text-align:center; font-size:x-large; width:100%" id="transcription" value="{{transcript}}" disabled>
                    <br>
                    <br>
                    <form>
                        {{#each question.answers}}
                                <button  class="btn btn-primary text-nowrap btn-lg btn-block btn-wordbank-add" data-group="{{this.group}}" style="white-space: normal;" id="{{@index}}" value="{{this.value}}" name="">{{this.answer}}</button>
                        {{/each}}
                    </form>
                    <button  class="btn btn-warning text-nowrap btn-lg btn-block btn-wordbank-clear">Clear Selection</button>
                    <button id="continue" class="btn btn-primary continue" disabled>Save and Continue</button>
                    <div class="alert" id="refutation" role="alert" hidden>
                    Message: {{feedback.message}}
                    </div>
                    <br>
                    {{/if}}
                    {{#if question.typeScroll}}
                        <div class="row" style="padding:20px;">
                            <div class="col-md-4 col-xs-1"></div>
                            <div id="scrollArea" class="col-md 4col-xs-12" style="overflow-y: scroll; font-size: large; max-height: 200px; max-width: 100%;">{{{this.prompt}}}</div>
                            <div class="col-md-4 col-xs-1"></div>
                        </div>
                        <br>
                        <br>
                        <button id="continue" class="btn btn-primary continue" disabled>Save and Continue</button>
                    {{/if}}
                    {{#if question.typeLink}}
                    <div id="linkArea" style="overflow-y: scroll; font-size: large; max-height: 300px;">{{{question.prompt}}}</div>
                    <br>
                    <button id="continue" class="btn btn-primary continue" disabled>Save and Continue</button>
                {{/if}}
                {{else}}
                     {{#if page.typeActivity}}
                         <h3><b>Activity: {{page.header}}</b></h3>
                        <p>{{page.instructions}}</p>
                         <button class="btn btn-primary" id="startActivity">Begin Activity!</button>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{else}}
                <p>{{module.description}}</p>
                <button class="btn btn-primary" id="startModule">Lets Begin!</button>
                <button class="btn btn-caution" id="goBack">I'm not ready.</button>
            {{/if}}
    </div>
</template>